body {
  background-color: whitesmoke;
}

img {
  display: block;
  border-radius: 10px;
  border: 2px solid gray;
}

.error {
  display: none;
}

.ss-main.breed-select {
  width: 260px;
  border-radius: 5px;
  border: 2px solid gray;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: auto;
}


.cat-info {
  width: 1050px;
  padding: 20px;
}

.cat-description {
  border: 2px solid gray;
  border-radius: 10px;
  background-color: gainsboro;
  padding: 20px;
  display: flex;
}

.cat-text {
  padding: 10px 20px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-left: 30px;
  width: 500px;
}

.loader-text {
  position: absolute;
  top: 1%;
  left: 30%;
  font-weight: 500;
}

.loader {
  color: transparent;
  left: 25%;
  top: 25%;
  width: 48px;
  height: 48px;
  border: 3px solid orange;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #ff3d00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.is-hidden {
  display: none;
}
